<app-header [titulo]="'Inputs Forms'"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Nombre : {{nombre || 'No ahi nombre'}}
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <!-- <ion-input></ion-input> -->
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>
  <form #formulario="ngForm" (ngSubmit)="onSummit()">

    <ion-list>
      <ion-list-header>
        <ion-label>Valido {{formulario.valid}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">email</ion-label>
        <!-- <ion-input></ion-input> -->
        <ion-input type="email" name="email" [(ngModel)]="usuario.email"
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <!-- <ion-input></ion-input> -->
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>
    </ion-list>
<ion-button expand="full" color="primary" type="submit" [disabled]="formulario.invalid">
  Enviar
</ion-button>


  </form>
</ion-content>