<app-header [titulo]="titulo"></app-header>
<!-- <ion-header>
    <ion-toolbar>
        <ion-title>alert</ion-title>

        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-button (click)="presentAlert()" color="primary">Alert</ion-button>

    <ion-button (click)="presentAlertConfirm()" expand="full" color="primary">Multiple</ion-button>
    <ion-button (click)="presentAlertPrompt2()" expand="full" color="primary">Promp 2</ion-button>
</ion-content>